@model List<Web_Tic_tac_toe.Models.EF.Room>


    @Html.Partial("_LoginPartial")
    


<div>
    
   
    @*<div class="photo">
        <img src="..\Content\Images\ttt1.jpg" />
    </div>*@

    <div>
        <h4>Доступные комнаты:</h4>
    </div>
    <div>
        @{
            foreach (var item in Model)
            {
                if (item.User1 != null)
                {
                    <ul>
                        <li class="my-margin">
                            <a href="#">@item.User1.UserEmail</a>
                        </li>
                    </ul>
                }
            }
        }
    </div>

    <hr />

    <div>
        @Html.ActionLink("Создать комнату", "AddRoom", "Home", null, new { @class = "btn btn-info" })
    </div>

    <hr />
</div class="center">





